<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Roboto:400i" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
  <body>
      <!---------------------------------Header-Block--------------------------------->
    <header class="header">
     
    </header>

      <footer class="footer">
         
      </footer>
  </body>
</html>